bibli.xsd

<?xml version="1.0" ?> 
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">  
  <xs:element name="bibliotheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="livre" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titre" type="xs:string"/>
              <xs:element name="auteur" type="xs:string"/> 
			   </xs:sequence>
               </xs:complexType>
              </xs:element>
            </xs:sequence>
		 </xs:complexType>
		</xs:element>
 </xs:schema>